[submodule "examples/wechat-bot"]
	path = examples/wechat-bot
	url = https://github.com/messense/wechat-bot.git
[submodule "docs/_themes"]
	path = docs/_themes
	url = https://github.com/lepture/flask-sphinx-themes.git
