on: [push, pull_request]

name: CI

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.6, 3.7, 3.8, 3.9]
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
        options: --entrypoint redis-server
      memcached:
        image: memcached:alpine
        ports:
          - 11211:11211
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"
      - name: Install Dependencies
        run: |
          pip install poetry
          poetry install
          pip list
      - name: Check code style
        if: matrix.python-version == 3.6
        run: |
          pip install black
          black -l 120 -t py36 -t py37 -t py38 --check .
      - name: pytest
        run: |
          poetry run pytest --cov --cov-report=term --cov-report=xml
      - name: Upload to codecov.io
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.xml
          flags: unittests
          name: codecov-umbrella
